.langContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 42px;
    
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.currentLang {
    text-transform: uppercase;
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    border: 2px solid #FFFFFF;
    color: #F2F3FF;
    background: rgba(17, 17, 17, 0.4);
    backdrop-filter: blur(20px);
    transition: all 2s;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -ms-transition: all 2s;
    -o-transition: all 2s;
}

.langDropdown {
    display: none;
    position: absolute;
    text-align: center;
    top: 100%;
    left: 0;
    color: #F2F3FF;
    background: rgba(17, 17, 17, .9);
    padding: 5px 0;
    min-width: 100%;
    z-index: 1000;
    border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -ms-border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;
}

.langOption {
    text-transform: uppercase;
    border-top: 1px solid #FFFFFF;
    padding: 10px 30px;
    cursor: pointer;
}

.active {
    display: block;
}